*{
    margin: 2px;
    padding: 0px;
}

h1, h2 {
    text-align:center ;
    font-size: 39px;
    
}

.html, .logo{
    
    text-align: center;
    animation-name: logo; /*Asigna el nombre de la animación.*/
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes logo {
    
    from {background-color: rgb(175, 140, 230);}
    to {background-color: rgb(13, 170, 184);}



    }

p{
    text-align: justify;
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
}

header{
    background-color: #00ffff;
    grid-area: h;
    
}

    
main{
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/891/104/non_2x/abstract-gradient-background-purple-elegant-style-perfect-for-design-wallpaper-promotion-presentation-website-banner-etc-illustration-background-vector.jpg');
    grid-area: m;
    background-size: cover;
}


.nav {
    position: relative;
    top: 0px;
    left: 0px;
    
    animation-name: nav; /*Asigna el nombre de la animación.*/
    animation-duration: 4s;
    animation-iteration-count: infinite;/*La animación se repetirá infinitamente.*/
    animation-timing-function: linear;
  }
  @keyframes nav {
    
  from {background-color: rgb(60, 227, 227);}
  to {background-color: rgb(18, 160, 77);}
  }



  nav ul{
    display: flex;
    
  }

  .button, .buttonuno, .buttondos, .buttontres, .buttoncuatro{
  background-color: #04AA6D;
  width: auto;/*ancho*/
  height: 50px;/*altura*/
  border-radius: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;/*tamaño de la fuente*/
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
  transition: background-color;

  }

  .button:hover , .buttonuno:hover, .buttondos:hover, .buttontres:hover, .buttoncuatro:hover {
    background-color: #0000ff;
  }













form{
    background-color: #9e9eec;
}
  

 