*{
    margin: 2px;
    padding: 0px;
}


header{
    background-color: #00ffff;
    grid-area: h;
    
}

.titulo{
    font-size: 16px;
    padding: 0 200px;
    text-align: center;
    font-weight: bold;
    animation-iteration-count: infinite;
    animation: tamaño 2s ease-in-out; 
}

@keyframes  tamaño{
    
    0%{
        font-size: 16px;
    }
    50%{
        font-size: 100px;
    }
    100%{
        font-size: 16px;
    }

    }

    .titulo:hover {
        background-color: #0d494a;/*Cambia el color de fondo a azul cuando se pasa el ratón.*/
        box-shadow: 14px 6px 17px 8px rgba(0, 0, 0, 0.5); /*agregar sombra*/
        
      }

h1, h2 {
    text-align:center ;
    font-size: 39px;
    
}

.html, .logo{
    
    text-align: center;
    animation-name: logo; /*Asigna el nombre de la animación.*/
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes logo {
    
    from {background-color: rgb(175, 140, 230);}
    to {background-color: rgb(13, 170, 184);}



    }

p{
    text-align: justify;
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
}


    
main{
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/891/104/non_2x/abstract-gradient-background-purple-elegant-style-perfect-for-design-wallpaper-promotion-presentation-website-banner-etc-illustration-background-vector.jpg');
    grid-area: m;
    background-size: cover;
}


.nav {
    position: relative;
    top: 0px;
    left: 0px;
    animation-name: nav; /*Asigna el nombre de la animación.*/
    animation-duration: 4s;
    animation-iteration-count: infinite;/*La animación se repetirá infinitamente.*/
    animation-timing-function: linear;
  }
  @keyframes nav {
    
  from {background-color: rgb(60, 227, 227);}
  to {background-color: rgb(139, 48, 125);}
  }



  nav ul{
    display: flex;
    
  }

  .button, .buttonuno, .buttondos, .buttontres, .buttoncuatro{
  background-color: #ba168e;
  justify-content: space-between;
  width: auto;/*ancho*/
  height: 50px;/*altura*/
  border-radius: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;/*tamaño de la fuente*/
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
  transition: background-color;

  }

  .button:hover , .buttonuno:hover, .buttondos:hover, .buttontres:hover, .buttoncuatro:hover {
    background-color: #b66f13;
  }













form{
    background-color: #9e9eec;
}
  

 